.nav-bar-container{
    width: 100vw;
    min-width: 100vw;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    color: antiquewhite;
    box-shadow: 0 0 5px #1f1f1f;
}

ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
}

li{
    transition: transform 0.2s ease-in-out;
}

li:hover,
li:active{
    transform: scale(1.05);
    color:whitesmoke;
}

li:active{
    transform: scale(1);
    color: #1f1f1f;
}