<nav class="nav-bar-container">
    <ul>
        <li><a 
                href="https://www.linkedin.com/in/júlio-hebert-2a440b140" 
                title="LinkedIn"
                target="_blank"
            >
                LinkedIn
            </a></li>
        <li><a 
                href="https://github.com/mmerga/Angular-dio-quizBuzzfeed" 
                target="_blank" 
                title="GitHub"
            >
                GitHub
            </a></li>
        <li><a 
                href="https://www.dio.me/users/julioheer" 
                title="DIO"
                target="_blank"
            >
                DIO
            </a></li>
    </ul>
</nav>
